<div class="container">

  <h3 ng-show="category == 'products'">Products</h3>
  <h3 ng-show="category == 'employees'">Employees</h3>
  
  <tabset vertical="true" ng-repeat="(key, value) in alphabet">
     <tab heading="{{key}" class="twenty" ng-click="getByLetter(key)"><a ng-class="{ 'emptyAlpha': !{{value}}}" >{{key}}</a></tab>
   </tabset>

  <br>

  <div class="clear container">
    <ul class="topSpace">
      <li ng-repeat="item in items" class="well">{{item.name}}</li>
    </ul>
  </div>

</div>
